* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body {
    background-color: #f3f4f6; /* gray-100 */
     min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("asset/gambar2.jpg") ;
    background-size: cover; 
    background-position: center; 
}

.card {
    background: #ffffff;
    padding: 10px 20px 35px;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.35); 
    width: 400px;
    background-image: url("asset/gambar.jpg") ;
    background-size: cover; 
    background-position: center; 
}

button {
    background-color: rgb(28, 197, 28);
    color: white;
    padding: 8px 20px;
    border-radius: 7px;
    outline: none;
    border: none;
    cursor: pointer;
}

input {
  padding: 6px 20px;
  border: 1px solid #d1d5db; /* gray-300 */
  border-radius: 6px;
  font-size: 0.95rem;
  outline: none;
  transition: 0.2s;
}

.form-grup {
    text-align: center;
}

h1, p {
    text-align: center;
}

button:hover {
    background-color: rgb(7, 141, 7);
}

h1 {
  color: #ffffff;         
  text-shadow: 1px 1px 4px rgba(0,0,0,0.6); 
  margin-bottom: 6px; 
}

p {
  color: #f0f0f0;           
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  margin: 0 0 14px 0; 
}
